
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*{background-color: #010e23;color: #ffffff;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    padding: 2rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    z-index: 10000;
}
#logo{
    color: var(--mainclr);
    font-size: 30px;
}
.nav a{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.nav a:hover{
    color: var(--mainclr);
}
.icon-header div{
    color: white;
    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

#menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}
.search-form{
    width: 50%;
    position: absolute;
    top: -110%;
    right: 2rem;
    transition: .2s;
}
.search-form input{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--headerclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search-form.active{
    top: 110%;
}
.background-image{
    background: url(images/background\ image.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.inner-back-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.inner-back-text h1{
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}
.inner-back-text h1 span{
    color: var(--mainclr);
    text-transform: uppercase;
}
.inner-back-text p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 15px;
    padding: 1rem;
}
.inner-back-btn{
    display: flex;
    justify-content: center;
}
.inner-back-btn a{
    margin-right: 1rem;
}
.first-btn, .second-btn{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    border-radius: 15px;
    color: var(--headerclr);
    font-size: 1.5rem;
}
.first-btn:hover, .second-btn:hover{
    background: var(--headerclr);
    color: white;
    letter-spacing: 3px;
}
.welcome{
    padding: 3rem 7%;
}
.main-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-welcome{
    flex: 1 1 45rem;
}
.welcome-text h1{
    font-size: 40px;
    color: var(--mainclr);

}
.welcome-text p{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
}
.welcome-text a{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    color: var(--headerclr);
    font-size: 1.5rem;
    border-radius: 15px;
}
.welcome-text a:hover{
    background: var(--headerclr);
    color: white;
}
.inner-welcome img{
width: 100%;
border-radius: 22px;
}

.our-gallery{
    padding: 4rem 7%;
}
.our-gallery h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.our-gallery h1 span{
    color: var(--mainclr);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery{
    flex:  100px;
}
.inner-gallery img{
    width: 100%;
    height: 300px;
    transition: .5s;
}
.inner-gallery img:hover{
    transform: translateY(-25px);
}
.customer-review{
    padding: 4rem 7%;
}
.customer-review h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.customer-review h1 span{
    color: var(--mainclr);
}
.main-review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-review{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-review:hover{
    background: var(--mainclr);
}
.inner-review:hover i{
    color: white;
}
@media (max-width:767px) {
    html{
        font-size: 55%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .nav{
        position: absolute;
        top: 100%;
        width: 80%;
        left: 10%;
        top: -1000%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        transition: .5s;
    }
    .nav a{
        color: black;
        display: block;
        margin: 1rem;
        font-size: 14px;
    }
 
}